# macOS
.DS_Store
.AppleDouble
.LSOverride

# LaTeX build artifacts
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.bcf
*.run.xml

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
Teaching/*/ECON230/Slides/
